
/* styles.css */

*{
  font-family: 'Times New Roman', Times, serif;
  text-align:left;
}

.classe.A {
  background-color: salmon;
  font-size: 15px;
}
.classe.B {
  background-color: salmon;
  
}
.classe.C
{
  background-color: salmon;
  font-size: 12px;
}
#title {
  color :blue;
  font-size: 30px;
  

}
#title2{
  background-color: greenyellow;
  font-weight: bold;
}